.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100%;
  background-color: #f0f0f0; /* Optional: Light background */
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
  text-align: center; /* Center align heading */
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  background-color: #033452;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.member-text {
  text-align: center; /* Center align membership text */
  margin-top: 10px;
}

.toggle-link {
  color: #007bff;
  cursor: pointer; /* Make it clear that it's clickable */
  text-decoration: underline; /* Optional: Underline for better UX */
}
